<section class="my-order">
  <header class="my-order__title">
    <span>
      <i class="fa-solid fa-arrow-right"></i>
    </span>
    <h2>سفارش های من</h2>
  </header>
  <main class="my-order__main">
    <div class="my-order__slide">
      <span class="icon-holder my-order__clock-icon">
        <i class="fa-regular fa-clock"></i>
      </span>
      <span class="slide__info">
        <p>در حال پردازش</p>
        <h2>۵ سفارش</h2>
      </span>
    </div>
    <div class="my-order__slide">
      <span class="icon-holder my-order__tick-icon">
        <i class="fa-solid fa-circle-check"></i>
      </span>
      <div class="slide__info">
        <p>تحویل شده</p>
        <h2>۴ سفارش</h2>
      </div>
    </div>
    <div class="my-order__slide">
      <span class="icon-holder my-order__reply-icon">
        <svg class="icon">
          <use xlink:href="assets/images/reply.svg#circle-u-turn-left-up"></use>
        </svg>
      </span>
      <div class="slide__info">
        <p>مرجوعی</p>
        <h2>۲ سفارش</h2>
      </div>
    </div>
    <div class="my-order__slide">
      <span class="icon-holder my-order__cross-icon">
        <i class="fa-regular fa-circle-xmark"></i>
      </span>
      <div class="slide__info">
        <p>لغو شده</p>
        <h2>۳ سفارش</h2>
      </div>
    </div>
  </main>
</section>
