<section class="order-details order-details__primary">
  <div class="processing-card">
    <span>
      <i class="fa-regular fa-clock"></i>
    </span>
    <span> در حال پردازش </span>
  </div>
  <div class="order-ids">
    <span>
      <p>تاریخ تحویل سفارش:</p>
      <span>۱۴۰۳/۰۵/۰۷</span>
    </span>
    <span>
      <p>کد سفارش:</p>
      <span>۲۱۶۵۴۴۹</span>
    </span>
    <span class="order__price">
      <p>۱,۵۵۰,۰۰۰</p>
      <span>تومان</span>
    </span>
  </div>
  <div class="order-description">
    <div class="description__images">
      <div class="description__image">
        <img
          src="assets/images/1.png"
          alt=""
          class="icon-holder description__image-1"
        />
        <span>۱</span>
      </div>
      <div class="description__image">
        <img
          src="assets/images/2.png"
          alt=""
          class="icon-holder description__image-2"
        />
        <span>۳</span>
      </div>
      <div class="description__image">
        <img
          src="assets/images/3.png"
          alt=""
          class="icon-holder description__image-3"
        />
        <span>۱</span>
      </div>
    </div>
    <div class="description__btn">
      <p>جزئیات سفارش</p>
      <span>
        <i class="fa-solid fa-arrow-left"></i>
      </span>
    </div>
  </div>
</section>
<section class="order-details order-details__secondary">
  <div class="processing-card">
    <span>
      <i class="fa-regular fa-clock"></i>
    </span>
    <span> در حال پردازش </span>
  </div>
  <div class="order-ids">
    <span>
      <p>تاریخ تحویل سفارش:</p>
      <span>۱۴۰۳/۰۵/۰۷</span>
    </span>
    <span class="order-code">
      <p>کد سفارش:</p>
      <span>۲۱۶۵۴۴۹</span>
    </span>
    <span class="order__price">
      <p>۱,۵۵۰,۰۰۰</p>
      <span>تومان</span>
    </span>
  </div>
  <div class="order-description">
    <div class="description__images">
      <div class="description__image">
        <img
          src="assets/images/1.png"
          alt=""
          class="icon-holder description__image-1"
        />
        <span>۱</span>
      </div>
      <div class="description__image">
        <img
          src="assets/images/2.png"
          alt=""
          class="icon-holder description__image-2"
        />
        <span>۳</span>
      </div>
      <div class="description__image">
        <img
          src="assets/images/3.png"
          alt=""
          class="icon-holder description__image-3"
        />
        <span>۱</span>
      </div>
    </div>
    <div class="description__btn">
      <p>جزئیات سفارش</p>
      <span>
        <i class="fa-solid fa-arrow-left"></i>
      </span>
    </div>
  </div>
</section>
