<section class="user-card">
  <header class="user-card__header">
    <div class="user-card__basic-information">
      <span class="user-card__person-icon icon-holder">
        <i class="fa-regular fa-user"></i>
      </span>
      <div class="user-card__info">
        <p class="user-card__info-name">رضا جنیدی</p>
        <p class="user-card__info-tel">۰۹۱۲۳۴۵۶۷۸۹</p>
      </div>
    </div>
    <a class="user-card__pen-icon" href="#">
      <i class="fa-duotone fa-solid fa-pen"></i>
    </a>
  </header>
  <main class="user-card__main">
    <ul class="user-card-list">
      <li class="user-card__orders user-card__section">
        <span>
          <i class="fa-sharp fa-solid fa-house-chimney-user"></i>
        </span>
        <p>سفارش های من</p>
      </li>
      <li class="user__info user-card__section">
        <span>
          <i class="fa-solid fa-magnifying-glass"></i>
        </span>
        <p>اطلاعات حساب کاربری</p>
      </li>
      <li class="user-card__messages user-card__section">
        <div class="user-card__preview">
          <span>
            <i class="fa-jelly fa-regular fa-bell"></i>
          </span>
          <p>پیام ها</p>
        </div>
        <svg class="icon">
          <use xlink:href="assets/images/notife-icon.svg#notife"></use>
        </svg>
      </li>
      <li class="user-card__comments user-card__section">
        <span>
          <i class="fa-regular fa-comment"></i>
        </span>
        <p>نظرات من</p>
      </li>
      <li class="user-card__exit user-card__section">
        <span>
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </span>
        <p>خروج</p>
      </li>
    </ul>
  </main>
</section>
